@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totals = 51;
    var totalpages = (int)Math.Ceiling(totals / (double)6);
}

<div class="jumbotron">
    @if (ViewBag.Featured != true)
    {
        <a asp-controller="Products" asp-action="Featured" class="btn btn-info " style="text-transform:capitalize"><span class="glyphicon glyphicon-home"></span>&nbsp; Products &raquo;&nbsp;&nbsp;@ViewBag.Title</a>
    }
    else
    {
        <a asp-controller="Products" asp-action="Featured" class="btn btn-info " style="text-transform:capitalize"><span class="glyphicon glyphicon-home"></span>&nbsp; Products &raquo;</a>
    }

</div>
@*<h3>@ViewBag.Header</h3>*@
@*<div class="row">
        @for (int x = 0; x < Model.Count; x++)
        {
            var item = Model[x];
            @Html.DisplayFor(model => item)
        }
    </div>*@
<section>
    <div class="container">
        <div class="row">
            <vc:menu></vc:menu>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center  ">@ViewBag.Header</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a asp-controller="Products"
                                           asp-action="Details"
                                           asp-route-id="@item.Id">
                                            <img src="http://localhost:40001/images/@item.ProductImage" class="img-responsive" alt="" />
                                            <h2>@item.UnitCost.ToString("#,##0 VNĐ")</h2>
                                            <p>@item.ProductName</p>
                                        </a>
                                        <a class="btn btn-default add-to-cart" data-id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div><br />
                @if (ViewBag.Featured = true)
                {
                    <div class="text-center">
                        @for (int i = 1; i <= totalpages; i++)
                        {
                            <a class="btn btn-info btn-sm" href="/products/featured?pagenumber=@(i)&pagesize=6">@(i)&nbsp;</a>
                        }
                    </div>
                }

                <br /><br />
                <!--features_items-->
                <vc:recommended></vc:recommended>
                <!--/recommended_items-->
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/product-list.js"></script>
    @if (TempData["OrderSuccess"] as string != null)
    {
        <script>
            $(document).ready(function () {
                bootbox.alert("Order Success");
            })
        </script>
    }
}


















